html {
    font-size: 15px
}

.container-fluid {
    max-width: 900px;
}

/* card */
.card {
    margin-bottom: 1rem;
}

h2.card-header {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.card-body {
    padding-bottom: 0;
}
