html {
    font-size: 15px
}

:root {
    --brand-color: #21bdc6;
}

.navbar {
    background-color: var(--brand-color) !important;
}

.container-fluid{
    max-width: 900px;
}

label.required{
    font-weight: bold;
}
label.required::after {
    content: " *";
}

/* card */
.card {
    margin-bottom: 1rem;
}
h2.card-header {
    font-size: 1.25rem;
}
