html {
    font-size: 15px
}

.container-fluid{
    max-width: 900px;
}

label.required{
    /*font-weight: bolder;*/
}
label.required::after {
    content: " *";
}

/* card */
.card {
    margin-bottom: 1rem;
}
h2.card-header {
    font-size: 1.25rem;
}
