html {
    font-size: 15px
}

body {
    color: #514b57 !important;
}

.container-fluid {
    max-width: 900px;
}

/* card */
.card {
    margin-bottom: 1rem;
}

h2.card-header {
    font-size: 1rem;
}

h4 {
    font-size: 1rem;
}

.card-body {
    padding-bottom: 0;
}


.header{
    padding: 30px 0;
    background: #00bed8;
    color: #ffffff;
    margin-bottom: 1rem;
}

.header .logo {
    display: inline-block;
    border-right: 1px solid #ffffff;
    padding-right: 28px;
}

.header .logo img {
    width: 156px;
    display: block;
}

.header .h1 {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 23px;
    padding: 0;
}

footer{
    margin-top: 20px;
    background: #333333;
    color: #cccccc;
    padding: 10px 0;
}

select.readonly  {
    pointer-events: none;
    background-color: #e9ecef;
}

ul.error {
    color: #dc3545;
    font-weight: bold;
}


.small, small{
    font-size: 90%;
}

.form-text{
    margin-top: 0;
}

.bg-info-light {
    background-color: #f2fdff;
    padding: 70px 20px;
}

.bg-info-light .price {
    color: #00bdd7;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    padding: 0.75rem 1rem;
    border-radius: 1.25rem;
    font-weight: bold;
}

