[application]
url = http://localhost:8080

[demo]
enabled = true

[mojeid]
url = https://mojeid.regtest.nic.cz/saml/idp.xml
test = true

[brnoid]
enabled = true

[eduid]
enabled = true

[countries]
EU[] = AT
EU[] = BE
EU[] = BG
EU[] = CY
EU[] = CZ
EU[] = DK
EU[] = EE
EU[] = FI
EU[] = FR
EU[] = DE
EU[] = GR
EU[] = HU
EU[] = IE
EU[] = IT
EU[] = LV
EU[] = LT
EU[] = LU
EU[] = MT
EU[] = NL
EU[] = PL
EU[] = PT
EU[] = RO
EU[] = SK
EU[] = SI
EU[] = ES
EU[] = SE

[aleph]
library = MZK50
demo = true
test = true

[payment]
create_url = http://aleph.mzk.cz/cgi-bin/poplatek_vlozit.pl
redirect_url = https://aleph.mzk.cz/cgi-bin/c-gpe1-registrace-test.pl

[alephXServer]
url = https://aleph.mzk.cz/X
user =
password =

[alephRestServer]
url = https://aleph.mzk.cz:8443
